table
{
	border-top: 2px solid black;
			border-bottom: 2px solid black;
			border-left:2px solid black;
			border-right:2px solid black;
			box-shadow: 10px 5px 5px black;
			background-color: lightblue;
			margin-right: 500px;
			margin-left: 600px;
			height: 400px;
			border-spacing: 50px;
}